.heroPlan{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 64px;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    justify-content: flex-end;
}



.heroPlan__containerButton{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heroPlan__containerText{
    width: 100%;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;

    h2{
        font-family: Lato;
        font-weight: 700;
        font-size: 40px;
        leading-trim: NONE;
        line-height: 48px;
        letter-spacing: -0.6px;
        text-align: center;
        max-width: 544px;
        width: 100%;
    }

    h6{
        font-family: Lato;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 28px;
        letter-spacing: 0.1px;
        width: 100%;
        text-align: center;
    }
}

.heroPlan__containerCards{
    width: 100%;
    gap:40px;
    margin-top: 10px;
    flex-wrap: wrap;
}


@media screen and (max-width:840px) {

.heroPlan__containerButton{
        display: none;
}

.heroPlan{
    margin-top: 20px;
    gap: 16px;
}


.heroPlan__containerText{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 0px;
    h2{
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.2px;
        text-align: left;
        max-width: 336px;
    }

    h6{
        text-align: left;
    }

}
   .heroPlan__containerCards{
        gap:16px;
        justify-content: flex-start;
        margin-top: 0px;
    }
}