main{
    background-color:#FAFBFF ;
}

.heroResumen__containerButton{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heroResumen{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 64px;
    margin-left: 5%;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    justify-content: flex-end;

    h2{
        font-family: Lato;
        font-weight: 700;
        font-size: 40px;
        leading-trim: NONE;
        line-height: 48px;
        letter-spacing: -0.6px;
        color: #141938;

    }
}