.svgContainer--footer {
  svg {
    width: 85.39px;
    height: 42px;
    display: flex;
  }
}

.svgContainer--navbar {
  svg {
    width: 73.19px;
    height: 36px;
    display: flex;
  }
}


@media screen and (max-width:992px) {

    .svgContainer--navbar{

        svg {
          width: 65.05px;
          height: 32px;
        }
    }

    .svgContainer--footer{

      svg {
        width: 138px;
        height: 20px;
      }

    }

}