.footerContainer__textContainer{
    p{
        color: #F8F9FF;
        font-weight: 400;
        font-style: Regular;
        font-family: 'Sonoma';
        font-size: 14px;
        leading-trim: NONE;
        line-height: 16px;
        letter-spacing: 0px;
        vertical-align: middle;
    }
}